/*==========  Mobile First Method  ==========*/
// Always use the Mobile First approach for RWD/AWD
// @import this file at the bottom of styles.scss, so that it overrides them
// with these larger device styles
//
//
/* Custom, iPhone Retina */
//@media only screen and (min-width : 320px) {}
//
/* MEDIUM Devices, Phones (above 544px)*/
@media only screen and (min-width : 34em) {
  body {
    /**
    * HEADER STYLES
    */
    header {
      div.banner{
        span.title{
          top: 0;
          font-size: 68px;
        }
      }
    }
    /**
    * MAIN CONTENT COL STYLES
    */
    main{
    }
    /**
    * FOOTER STYLES
    */
    footer{
    }
  }
}
//
/* MEDIUM Devices, Tablets (ipad portrait)(above 768)*/
@media only screen and (min-width : 48em) {
  body {
    /**
    * HEADER STYLES
    */
    header {
      nav.navbar{
        margin-top: 10px;
        margin-bottom: 25px;
        #navbarNavDropdown{
          width:inherit; //keeps floated right, why is this
          ul{
            li{
              border: none;
              display: inline-block;
              padding-left: 15px;
              a{
                display:inherit;
                .btn-transparent{
                  font-size: 18px;
                  border: 1px solid $brand-info; //border here for auto rounded edges, or put it on the li
                  color: $brand-info-text; //color override needs !important if placed on bootstrap .btn-transparent, here is better
                }
              }
            }
          }
        }
      }
      div.banner{
        span.title{
          left: 230px;
          top: -12px;
          bottom: 0px;
          font-size: 86px;
        }
      }
    }
    /**
    * MAIN CONTENT COL STYLES
    */
    main{
    }
    /**
    * FOOTER STYLES
    */
    footer{
    }
  }
}
//
/* LARGE Devices, Desktops (above 992)
Since this is mobile first, the styles get made for small devices, and
overridden here */
@media only screen and (min-width : 62em) {
  body {
    /**
    * HEADER STYLES
    */
    header {
      nav.navbar{
        #navbarNavDropdown{
          ul{
            li {
              a {
                .btn-transparent{

                }
              }
            }
          }
        }
      }
      div.banner{
        height:235px;
        span.logo{
          height: 230px;
          width: 350px;
          background-size: 350px;
        }
        span.title{
          left: 290px;
          font-size: 110px;
        }
      }
    }
    /**
    * MAIN CONTENT COL STYLES
    */
    main{
      padding-bottom: 50px;
    }
    /**
    * FOOTER STYLES
    */
    footer{
      padding-top: 25px;
      span{
        display: inline-block;
        margin-top: inherit;
        margin-left: 150px;
        vertical-align: top;
      }
      // resets the margin-left back on the first span
      span:first-child{
        margin-left:0;
      }
      span:nth-child(2){
        text-align:inherit;
      }
    }
  }
}
//
/* XTRA LARGE Devices, Wide Screens (above 1200px) */
@media only screen and (min-width : 75em) {
  body {
    /**
    * HEADER STYLES
    */
    header {
      nav.navbar{
        #navbarNavDropdown{
          ul{
            li {
              a {
                .btn-transparent{
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
      div.banner{
        span.logo{
          margin-top: 3px;
          top:0;
          margin-left: 3px;
          height: 98%;
        }
        span.title{
          top: -16px;
          left: 325px;
          font-size: 136px;
        }
      }
    }
    /**
    * MAIN CONTENT COL STYLES
    */
    main{
    }
    /**
    * FOOTER STYLES
    */
    footer{
    }
  }
}
//
//
//
/*==========  Non-Mobile First Method  ==========*/
// (not using this approach unless absolutely necessary, as usual.  This is a mobile first world now
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}
