/*==========  Mobile First Method  ==========*/
// Always use the Mobile First approach for RWD/AWD
// @import this file at the bottom of styles.scss, so that it overrides them
// with these larger device styles
//
//
/* Custom, iPhone Retina */
//@media only screen and (min-width : 320px) {}
/* SMALL Devices, Phones */
@media only screen and (min-width : 480px) {
  body {
    /**
    * HEADER STYLES
    */
    header {
    }
    /**
    * MAIN CONTENT COL STYLES
    */
    main{
    }
    /**
    * FOOTER STYLES
    */
    footer{
    }
  }
}
//
/* MEDIUM Devices, Tablets */
@media only screen and (min-width : 768px) {
  body {
    /**
    * HEADER STYLES
    */
    header {
    }
    /**
    * MAIN CONTENT COL STYLES
    */
    main{
    }
    /**
    * FOOTER STYLES
    */
    footer{
    }
  }
}
//
/* LARGE Devices, Desktops
Since this is mobile first, the styles get made for small devices, and
overridden here */
@media only screen and (min-width : 992px) {
  body {
    /**
    * HEADER STYLES
    */
    header {
      nav.row{
        div{
          padding: inherit;
          ul{
            margin-right: 50px;
            li{
              font-size: 18px;
              padding-right: 5px;
            }
          }
        }

      }
      .banner.row{
        height:250px;
        span{
          height: 230px;
          margin: 10px
        }
        span.logo{
          height: 230px;
          width: 350px;
          background-size: 350px;
        }
        span.title{
          width: 200px;
        }
      }
      .controlBar.row{
        ul li a{
          padding: 15px;
        }
      }
    }
    /**
    * MAIN CONTENT COL STYLES
    */
    main{
      padding-bottom: 50px;
    }
    /**
    * FOOTER STYLES
    */
    footer{
      // height:200px;
      padding-top: 25px;
      span{
        display: inline-block;
        margin-top: inherit;
        margin-left: 150px;
        vertical-align: top;
      }
      // resets the margin-left back on the first span
      span:first-child{
        margin-left:0;
      }
      span:nth-child(2){
        text-align:inherit;
      }
    }
  }
}
//
/* XTRA LARGE Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  body {
    /**
    * HEADER STYLES
    */
    header {
    }
    /**
    * MAIN CONTENT COL STYLES
    */
    main{
    }
    /**
    * FOOTER STYLES
    */
    footer{
    }
  }
}
//
//
//
/*==========  Non-Mobile First Method  ==========*/
// (not using this approach unless absolutely necessary, as usual.  This is a mobile first world now
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}
