/**
* Global imports. Super important for initial styles to pull from
*/
@import "../../../vendor/bootstrap/scss/bootstrap.scss";
@import "../../../vendor/bootstrap/scss/bootstrap-sprockets.scss";
@import "../../../vendor/font-awesome/scss/font-awesome.scss";
@import "vars.scss";
@import "mixins.scss";
//
/*==========  Mobile First Method  ==========*/
/* XTRA SMALL, iPhone Retina (AND UP) */
/**
* All site styles here.  Override for larger later, develop in responsive
* mobile view for something like iPhone6 portrait view, with LIVERELOAD on
*/
@media only screen and (min-width : 320px) {
  /**
  * CSS DEFAULT STYLES
  * Generic Typography, and html styles, that can  be overridden later below on
  * a specific case to case basis
  */
  a, a:link, a:visited {
    color: $font-color;
    // text-decoration: none;
  }
  a:hover{
    color: grey;
  }
  p {
    // text-indent: 30px;
    line-height: 1.5;
  }

  /**
  * TARGET SPECIFIC FINAL OVERRIDES (all styles go here.  When something can be
  * globalized out, then move it above somewhere)
  */
  body {
    color: $font-color;
    // background-color: $body-bg-color;
    background-image: $body-bg-image;
    font: $font-size $font-family;
    margin:0;
    letter-spacing: 0.2px;
    /**
    * HEADER STYLES
    */
    header {
      nav.row{
        // background-color: $primary-bg-color;
        //background-color: yellow;
        height: 110px;
        div{ //or col-xs-12, or use wildcard col-* col-xs* etc.  (Forgot what wildcard is)
            padding: 0;
          ul{
            margin-top: 60px;
            margin-bottom: 0;
            li{
              font-size: 16px;
              font-weight: bold;
              padding: 2px;
              a{
                text-decoration: underline;
                padding-bottom: 0;
              }
            }
          }
        }
      }
      .banner.row{
        // background-color: $brand-blue;
        height:170px;
        background-image: $splash-image;
        // overflow: hidden;
        padding:0;
        span.logo{
          height: 150px;
          width: 250px;
          background-image: $banner-logo;
          //background-size: contain;
          background-size: 240px;
          background-repeat: no-repeat;
          margin: 3px 0 3px 3px;
        }
        span.title{
          height: 50px;
          display: inline-block;
          width: 100px;
          margin-left: -130px;
          margin-top: 120px;
          font-size: 36px;
        }
      }
      .controlBar.row{
        height:50px;
        ul {
          li {
            a{
              padding: 5px 0;
            }
          }
        }
        // background-color: $primary-bg-color;
      }
    }
    /**
    * MAIN CONTENT COL STYLES
    */
    main{
      padding-bottom: 35px;
      .header{
          margin-bottom: 15px;
          margin-top: -32px;
          span{
            margin-right: 8px;
          }
      }
      .panel{
        p{
          text-indent: 3px;
        }
        button.fa-trash-o{
           background: #fff;
           border:none;
        }
        .panel-body{
          padding: 5px 10px;
          border: none;
          ul{
            padding: 0px;
            li{
              padding: 0px;
              span{
                padding-left: 5px;
              }
            }
          }
        }
        form {
          padding:0;
          margin: 0;
          button{
            padding:0;
          }
        }
      }
    }
    /**
    * FOOTER STYLES
    */
    footer{
      padding:35px;
      min-height:150px;
      background-image: $splash-image;
      span{
        display: block;
        margin-bottom: 20px;
      }
      span:nth-child(2){
        text-align:right;
      }
    }
  }
}
//
//IMPORTING LARGER DEVICES HERE
@import "media-overrides.scss";
