/**
* vars
*/

//BODY
$body-bg-color:     grey;
$primary-bg-color:  white;
$body-bg-image:     url("/images/canvas-only-background.jpg");

//TOP IMAGES @TODO
// $head-bg-img-lg:    ../images/file.jpg;
// $head-bg-img-sm:    ../images/file.jpg;
// $banner-bg-img-lg:  ../images/file.jpg;
// $banner-bg-img-sm:  ../images/file.jpg;
// $main-bg-img-lg:    ../images/file.jpg;
// $main-bg-img-sm:    ../images/file.jpg;
$splash-image:      url("/images/aqua-splash-250px.jpg");
$banner-logo:       url("/images/accipiter-logo-transparent.png");

//FONT
$font-size:         14px;
// $font-color:         #333;
$font-color:         white;
//$font-family:       "Lucida Grande", Helvetica, Arial, sans-serif;
$font-family:       "Open Sans";

//BRAND
$brand-blue:        #367EB8;
