/**
* vars
*/

//BODY
$body-bg-color:     grey;
$primary-bg-color:  white;
//LIVERELOAD test uncomment below temporarily.
//$primary-bg-color:  yellow;

//TOP IMAGES @TODO
// $head-bg-img-lg:    ../images/file.jpg;
// $head-bg-img-sm:    ../images/file.jpg;
// $banner-bg-img-lg:  ../images/file.jpg;
// $banner-bg-img-sm:  ../images/file.jpg;
// $main-bg-img-lg:    ../images/file.jpg;
// $main-bg-img-sm:    ../images/file.jpg;

//FONT
$font-size:         14px;
$font-color:         #333;
$font-family:       "Lucida Grande", Helvetica, Arial, sans-serif;

//BRAND
$brand-blue:        #367EB8;
