##
# NOTICE< CHECK .git/info/exclude, as a general rule
###

#nuiscance file from git merge/cherrypick
*.orig

#nuiscance file from vim
*.swp

# ignore the etc directory, contains sensitive params, and maybe env specific stuff
etc/


#ignore coffee files, which arent excluded because they are special case, and
# need double compiling, so for now instead of compiling off to a tmp dir, they
# are compiled, for easy reference, right next to teh .coffee file, and are just
# given their own extention to keep them easily distinguished. 
*.cfe.js

# ignore all node modules
node_modules/

# We definitely want our vendors backed up now, (so leave commented), since they
# are not being copied to src/ directory anymore, was kind of counter intuitive
# like that before. Feel free to delete any unneeded vendor files before
# git adding though, so far thats the entire vendor/ contents except for the
# sass variables file. all else can be deleted before commiting, however allowing
# them to commit like this holds the idea that the vendors will at least always
# be available for use in this working condition for the duration of the
# shelf-life of the software, what that is deemed to be.  Shelf life is
# potentially  up to now, and here. 

# vendor/
vendor/dummy.js

# these files are dynamically created, therefore don't need to be part of the repo.
vendor/bootstrap*

# Ignore the build dir, that would be nothing but dead weight, no source in there!
www/

# Old stuff below
#
# ignore certain file types
*.zip
*.rar
*.gz
*_log
*.log
*~.*
#
# Some common server files needing ignoring
.ftpquota
.htaccess
error_log
google*.html
#
#
#
#wordpress installation embedded inside main dir
/cmswp
wp.php
#
#intellij
.idea/
