extends ../layout

block content
  h1.
    #{title}
  form#formAddBlob(name='addDoc', method='post',action="/blobs")
    p Name:
      input#inputName(type="text", placeholder="eg. John Smith", name="name")
    p Employee No:
      input#inputBadge(type="number", placeholder="eg. 123456", name="badge")
    p DOB:
      input#inputDOB(type="date", name="dob")
    p Is the Blob Loved?
      input#inputIsLoved(type="checkbox", name="isloved")
    p
      button#butSubmit(type="submit") submit
