footer
  div.row
    div.col-md-2.col-xs-1
    div.col-md-8.col-xs-10
      span
        ul.nav
          li
            a(href='https://github.com/brian-lamb-software-engineer') brian-lamb-software-engineer
      span
        ul.nav
          li
            a(href='/') Home
          li
            a(href='/blobs') Blobs
          li
            a(href='/movies') Movies
          li
            a(href='/students') Students
    div.col-md-2.col-xs-1
    
