doctype html
html(lang=en)
  head
    title='MMDB Moms Movie Database'
    link(rel='stylesheet', href='css/styles.css')
    script(src='js/head.js')
  body
    header
      p
        ul
          li
            a(href='/') Home
          li
            a(href='/blobs') Blobs
          li
            a(href='/movies') Movies
          li
            a(href='/tests') Tests
    div
      block content
    footer
      p
        ul
          li
            a(href='/') Home
    script(src='js/foot.js')
