doctype html
html(lang=en)
  head
    title='MMDB Moms Movie Database'
    link(rel='stylesheet', href='http://192.168.1.10:3000/css/styles.css')
    script(scr='js/vendor.js')
  body
    header
      p
        ul
          li
            a(href='/') Home
          li
            a(href='/blobs') Bloboid
          li
            a(href='/movies') Movies
    div
      block content
    footer
      p
        ul
          li
            a(href='/') Home
