//
  doctype html
html(lang=en)

  head
    title='ExpressBuilder'
    link(rel='stylesheet', href='/css/styles.css')
    script(src='/js/head.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')

  body
    include header
    main
        block content
    include footer
    script(src='/js/foot.js')
